{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<form class="create-forms"action="{{ url_for('denuncia_seguimiento', denuncia_id=denuncia.id) }}" method="POST">
    <h2 style="display: flex; justify-content: center;">Realizar un seguimiento</h2>
    <p>
      <label>Descripcion<label></br>
      <textarea name="descripcion" rows="10" cols="40"></textarea>
    </p>
    <br>
    <p>
      <button type="submit">agregar</button>
      <button type="reset">Limpiar</button>
    </p>
  </form>
<a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
{% endblock %}